<div
  class="flex w-full justify-center items-center border-b border-gray-200 dark:border-darkBorder"
>
  <div class="flex space-x-10 py-2">
    <span
      class="border-b border-gray-200 dark:border-darkBorder py-2 font-semibold"
    >
      <div class="flex items-center">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M5.615 20q-.67 0-1.143-.472Q4 19.056 4 18.385V5.615q0-.67.472-1.143Q4.944 4 5.615 4h12.77q.67 0 1.143.472q.472.472.472 1.143v12.77q0 .67-.472 1.143q-.472.472-1.143.472zm6.885-7.5V19h5.885q.269 0 .442-.173t.173-.442V12.5zm0-1H19V5.615q0-.269-.173-.442T18.385 5H12.5zm-1 0V5H5.615q-.269 0-.442.173T5 5.615V11.5zm0 1H5v5.885q0 .269.173.442t.442.173H11.5z"
            /></svg
        ></span>
        <p class="ml-2">Postingan</p>
      </div>
    </span>
    <span class="py-2">
      <div class="flex items-center">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.05"
            >
              <path
                d="M5 7h1a2 2 0 0 0 2-2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2"
              />
              <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0-6 0" />
            </g></svg
        ></span>
        <p class="ml-2">Foto</p>
      </div>
    </span>
  </div>
  
</div>
<div class="posts">
  <% if (posts.length > 0) { %>
    <% posts.forEach(function(post) { %>
      <div class="post">
        <p><%= post.id %></p>
        <!-- Tambahkan logika untuk menampilkan informasi lainnya jika diperlukan -->
      </div>
    <% }) %>
  <% } else { %>
    <p>Tidak ada posting yang ditemukan.</p>
  <% } %>