<div
  class="fixed w-full bottom-0 right-0 bg-white dark:bg-dark py-1 px-5 block md:hidden shadow-xl border-t border-gray-100 dark:border-darkPrimary"
>
  <div
    class="flex justify-between items-center border-b border-gray-100 dark:border-darkPrimary"
  >
    <a href="/home">
      <div class="flex flex-col justify-center items-center px-2">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-black dark:fill-white"
          >
            <path
              d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1"
            />
          </svg>
        </span>
        <p class="text-black dark:text-white text-[10px] mt-[1px]">Home</p>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-col justify-center items-center px-2">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-black dark:fill-white"
          >
            <path
              d="m7 17l3.2-6.8L17 7l-3.2 6.8zm5-5.9a.9.9 0 0 0-.9.9a.9.9 0 0 0 .9.9a.9.9 0 0 0 .9-.9a.9.9 0 0 0-.9-.9M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8a8 8 0 0 0 8 8a8 8 0 0 0 8-8a8 8 0 0 0-8-8"
            />
          </svg>
        </span>
        <p class="text-black dark:text-white text-[10px] mt-[1px]">Explore</p>
      </div>
    </a>
    <a href="/create">
      <div
        class="flex justify-center items-center px-1 bg-gradient-to-r from-blue-500 to-pink-500 rounded-md shadow" title="Buat Postingan"
      >
        <div class="bg-white py-2 px-3 rounded-md shadow-md border border-gray-100">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
            >
              <path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" />
            </svg>
          </span>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="flex flex-col justify-center items-center px-2">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            class="fill-black dark:fill-white"
            viewBox="0 0 512 512"
          >
            <path
              d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16V352c0 8.8 7.2 16 16 16h96zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3V474.7v-6.4V468v-4V416H112 64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H448c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H309.3L208 492z"
            />
          </svg>
        </span>
        <p class="text-black dark:text-white text-[10px] mt-[1px]">Message</p>
      </div>
    </a>

    <a href="/@<%= loggedInUser.username %>">
      <div class="flex flex-col justify-center items-center px-2">
        <span>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-black dark:fill-white"
            >
              <path
                d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1"
              />
            </svg>
          </span>
        </span>
        <p class="text-black dark:text-white text-[10px] mt-[1px]">Profile</p>
      </div>
    </a>
  </div>
</div>
