<div
  class="hidden md:block md:w-20 lg:w-60 bg-white border-r border-gray-200 shadow-md dark:bg-darkPrimary fixed h-screen dark:border-dark"
>
  <div class="pt-20 px-4">
    <div>
      <a href="/home">
        <div
          class="flex w-full hover:bg-gray-100 py-2 px-2 rounded my-1 items-center dark:text-white dark:hover:bg-dark transition-colors md:justify-center lg:justify-normal"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-black dark:fill-white"
            >
              <path
                d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1"
              />
            </svg>
          </span>
          <p class="ml-3 font-semibold md:hidden lg:block">Home</p>
        </div>
      </a>
      <a href="#">
        <div
          class="flex w-full hover:bg-gray-100 py-2 px-2 rounded my-1 items-center dark:text-white dark:hover:bg-dark transition-colors md:justify-center lg:justify-normal"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 15 15"
              class="fill-black dark:fill-white"
            >
              <path
                fill="currentColor"
                d="m14.5.5l.46.197a.5.5 0 0 0-.657-.657zm-14 6l-.197-.46a.5.5 0 0 0-.06.889zm8 8l-.429.257a.5.5 0 0 0 .889-.06zM14.303.04l-14 6l.394.92l14-6zM.243 6.93l5 3l.514-.858l-5-3zM5.07 9.757l3 5l.858-.514l-3-5zm3.889 4.94l6-14l-.92-.394l-6 14zM14.146.147l-9 9l.708.707l9-9z"
              />
            </svg>
          </span>
          <p class="ml-3 font-semibold md:hidden lg:block">Message</p>
        </div>
      </a>
      <a href="#">
        <div
          class="flex w-full hover:bg-gray-100 py-2 px-2 rounded my-1 items-center dark:text-white dark:hover:bg-dark transition-colors md:justify-center lg:justify-normal"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32S80 82.1 80 144s50.1 112 112 112m76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2M480 256c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96s43 96 96 96m48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4c24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48c0-61.9-50.1-112-112-112"
              />
            </svg>
          </span>
          <p class="ml-3 font-semibold md:hidden lg:block">Friend</p>
        </div>
      </a>
      <a href="#">
        <div
          class="flex w-full hover:bg-gray-100 py-2 px-2 rounded my-1 items-center dark:text-white dark:hover:bg-dark transition-colors md:justify-center lg:justify-normal"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <mask id="lineMdCompassLoop0">
                <path
                  fill="none"
                  stroke="#fff"
                  stroke-dasharray="60"
                  stroke-dashoffset="60"
                  stroke-linecap="round"
                  stroke-width="2.05"
                  d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z"
                >
                  <animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.5s"
                    values="60;0"
                  />
                </path>
                <path fill="#fff" d="M11 11L12 12L13 13L12 12z">
                  <set attributeName="opacity" begin="0.6s" to="1" />
                  <animate
                    fill="freeze"
                    attributeName="d"
                    begin="0.6s"
                    dur="0.3s"
                    values="M11 11L12 12L13 13L12 12z;M10.2 10.2L17 7L13.8 13.8L7 17z"
                  />
                  <animateTransform
                    attributeName="transform"
                    begin="0.5s"
                    dur="9s"
                    repeatCount="indefinite"
                    type="rotate"
                    values="-180 12 12;0 12 12;0 12 12;0 12 12;0 12 12;270 12 12;-90 12 12;0 12 12;-180 12 12;-35 12 12;-40 12 12;-45 12 12;-45 12 12;-110 12 12;-135 12 12;-180 12 12"
                  />
                </path>
                <circle cx="12" cy="12" r="1" fill-opacity="0">
                  <animate
                    fill="freeze"
                    attributeName="fill-opacity"
                    begin="0.8s"
                    dur="0.3s"
                    values="0;1"
                  />
                </circle>
              </mask>
              <rect
                width="24"
                height="24"
                fill="currentColor"
                mask="url(#lineMdCompassLoop0)"
              />
            </svg>
          </span>
          <p class="ml-3 font-semibold md:hidden lg:block">Explore</p>
        </div>
      </a>
      <a href="/@<%= loggedInUser.username %>">
        <div
          class="flex w-full hover:bg-gray-100 py-2 px-2 rounded my-1 items-center dark:text-white dark:hover:bg-dark transition-colors md:justify-center lg:justify-normal"
        >
          <img
            src="../images/default-pp.webp"
            alt="PP"
            class="rounded-full w-6 h-6"
          />
          <p class="ml-3 font-semibold md:hidden lg:block">Profile</p>
        </div>
      </a>
      <div
        class="border-t border-gray-100 py-3 hidden lg:block dark:border-darkBorder"
      >
        <p class="text-gray-500 dark:text-gray-400 text-[10px] hover:underline">
          *Aplikasi ini masih dalam proses pengembangan
        </p>
      </div>
      <div
        class="border-t border-gray-100 py-5 hidden lg:block dark:border-darkBorder"
      >
        <div class="flex items-center space-x-3">
          <a
            href="#"
            class="text-gray-500 dark:text-gray-400 text-[10px] hover:underline"
            >About</a
          >
          <a
            href="#"
            class="text-gray-500 dark:text-gray-400 text-[10px] hover:underline"
            >Contact</a
          >
          <a
            href="#"
            class="text-gray-500 dark:text-gray-400 text-[10px] hover:underline"
            >Privacy policy</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
