<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/custom.css" rel="stylesheet" />
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('components/Navbar') %> <%- include('components/MobileFooter')
    %>

    <div class="flex">
      <div
        class="hidden md:block md:w-20 lg:w-60 bg-white border-r border-gray-200 shadow-md dark:bg-darkPrimary fixed h-screen dark:border-dark"
      >
        <%- include('components/Sidebar') %>
      </div>
      <div
        class="pl-0 md:pl-20 lg:pl-60 w-full bg-white dark:bg-darkPrimary dark:text-gray-300"
      >
        <div class="px-2 pt-12 pb-16 md:pb-0">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium sapiente esse quod molestiae, doloremque similique
            voluptas nihil, dolores commodi reiciendis magnam possimus quidem
            maxime optio libero deleniti. Amet, facere eum. Ad explicabo
            expedita est totam, voluptas nulla delectus cumque asperiores
            consequuntur autem magni dolore! Blanditiis illum dolorum amet
            maxime? Voluptate molestiae laborum illo dolorem maiores. Nihil
            aliquid non sint error? Assumenda quasi quia nihil debitis veniam
            provident quas quod fuga, placeat est nisi laboriosam incidunt
            fugiat! Cupiditate magnam amet ipsum, ducimus similique quibusdam
            laboriosam necessitatibus fugiat, doloremque sint id non. Sunt,
            nostrum. Debitis dolor eaque voluptate, esse iste atque reiciendis
            minima nulla quo? Quae, fugit? Fugiat, praesentium recusandae velit
            quam at non deleniti ad cum necessitatibus omnis quaerat hic natus!
            Ab, excepturi minus impedit, velit facilis sequi molestias
            voluptates ea laudantium vitae voluptate at aspernatur dolores
            quidem cumque laboriosam, perspiciatis labore rerum odit sed! Id
            tempora reprehenderit hic. Ut, accusantium. Quaerat, pariatur ex
            accusamus consequatur deleniti cumque, quas, quasi excepturi hic
            rerum vitae! Itaque nesciunt placeat repellendus fugiat dignissimos
            ad praesentium nemo sed soluta? Alias blanditiis ducimus nulla sequi
            omnis! Eveniet atque, aperiam consequuntur consectetur minima
            perspiciatis. Iure officiis ullam adipisci, eum laudantium provident
            corrupti, eveniet rem odio, magni dolorum labore a. Nemo eos maiores
            culpa perspiciatis explicabo non repellendus. Ad accusamus expedita
            nobis autem quo quas, quia quis omnis commodi praesentium odio quod
            itaque nesciunt vitae suscipit deleniti adipisci debitis, recusandae
            quos dolorem sapiente, sit reprehenderit numquam laboriosam. Alias!
            Doloremque unde velit dolores quisquam reiciendis deleniti iure
            repellat exercitationem autem nesciunt odio architecto voluptates
            eius fuga debitis sunt a minima qui necessitatibus reprehenderit,
            quis totam. Voluptates et minima consequuntur. Voluptatibus,
            delectus dolores praesentium asperiores quos vel porro blanditiis,
            qui doloribus magni ipsam recusandae eligendi sit maiores animi quo
            possimus aspernatur. Facere, corrupti dignissimos natus facilis
            harum nulla eum. Nobis. Accusantium tempora minima doloribus amet
            laudantium consequuntur necessitatibus aperiam quisquam inventore
            veniam nam delectus neque officiis, odit recusandae? Nihil nemo
            praesentium tenetur quasi officia fugiat dignissimos exercitationem
            distinctio facilis cupiditate. Itaque voluptatum eos dicta unde
            aspernatur, facilis numquam, commodi, animi nesciunt modi earum
            eaque minima provident nihil! Molestiae, amet atque. Reiciendis illo
            voluptatem aperiam officia dicta natus mollitia sapiente omnis!
            Commodi non modi impedit, fuga cumque eaque voluptatum voluptatibus.
            Mollitia, quod. Assumenda odio nesciunt accusamus, quos, neque
            labore vero id laudantium animi quaerat autem modi totam provident
            ipsum. In, libero. Quidem, laboriosam qui ducimus explicabo facilis
            itaque, maiores id blanditiis nisi, expedita eum distinctio cumque
            laudantium autem hic illum tenetur commodi magnam omnis dolores esse
            sapiente? Eum provident perferendis magni. Maxime vero voluptatibus
            obcaecati, minima officiis reprehenderit iste minus blanditiis
            aliquid voluptatem totam commodi, illum molestiae harum dignissimos
            ipsa tempore? Repellat, suscipit error soluta dolorum tempore
            distinctio quidem quos similique? Placeat, laborum. Beatae id
            cupiditate autem eveniet molestiae laborum expedita corrupti illum
            ad aperiam ipsa, nisi voluptates nobis magnam nihil tempore, at
            ipsum explicabo dignissimos asperiores quo culpa. Enim, animi. Eum
            accusamus, beatae dolor facere eligendi ipsam consequatur minima,
            quam expedita accusantium nam placeat, voluptates repudiandae dolore
            eos. Quam modi ullam excepturi tempore asperiores est. Unde eveniet
            modi rem suscipit. Iste fuga cupiditate ratione ut voluptate magnam,
            dolores voluptas adipisci sint, deleniti non officia enim
            repellendus asperiores a neque vitae est, soluta suscipit sequi
            facilis architecto ab magni. Ducimus, consectetur! Commodi quam
            dignissimos doloremque maiores a impedit exercitationem amet velit
            ea totam ratione eum distinctio assumenda ipsam facere magnam enim
            facilis corrupti excepturi repudiandae sapiente, repellendus neque.
            Ea, illo iusto. Laborum fugit quae accusantium accusamus. Cumque non
            vel earum tenetur porro minima harum aliquam voluptate fugiat
            voluptatibus, eveniet facilis accusamus nihil explicabo, placeat
            assumenda unde! Atque recusandae consectetur eveniet et! Obcaecati
            excepturi labore tenetur eum perspiciatis quis dolorum aut, quo quae
            magnam laboriosam perferendis animi cumque beatae veritatis quam
            maxime autem mollitia vero corporis. Dicta iure tempora porro?
            Ipsum, dolorem. Maxime voluptatum, mollitia molestias culpa impedit
            labore ea, quibusdam omnis quos nobis eos! Ad pariatur quaerat
            harum, facere reprehenderit veritatis praesentium nesciunt. Ex,
            autem. Praesentium commodi quibusdam eum accusamus voluptatibus!
            Incidunt ullam distinctio voluptates iusto hic temporibus vitae
            eligendi voluptatibus, in natus quos tempora molestias consequatur
            aliquid amet aspernatur rerum possimus beatae quo fugiat? Architecto
            veritatis earum ipsa nesciunt enim. Harum distinctio vel alias
            voluptates, tempora libero reiciendis officia ipsa dolorum aut nemo
            nobis, dolor neque cupiditate ea iure accusantium commodi nihil,
            laboriosam eum. Eaque, sunt! Dicta rerum beatae sequi. Asperiores,
            impedit optio, voluptatem labore recusandae ullam, voluptate
            perspiciatis minima necessitatibus nemo minus consectetur
            accusantium? Ullam, laudantium sapiente nulla ut a consequatur magni
            minima cum, soluta, quos nostrum ratione aspernatur. Hic,
            laboriosam. Alias aspernatur numquam sequi culpa commodi nobis vel
            quaerat quae expedita quas odit animi earum sunt explicabo quidem id
            quasi, incidunt tempore. Velit quam sit debitis nesciunt voluptatum!
            Doloremque error magnam rerum consectetur corrupti at vel veritatis.
            Possimus nostrum veniam iure illo, quasi impedit illum nisi
            consequuntur officiis libero sequi sint modi commodi repellat rerum
            maxime dolore aliquid? Quae nisi rem temporibus, vel, expedita ut
            nulla magni voluptates magnam nam illum dolores accusamus
            consectetur. Debitis, ratione esse possimus nostrum iure omnis
            numquam expedita magni praesentium cumque, veniam ipsa. Aut sint ad
            dolores tenetur nemo, officiis sit voluptas quibusdam, magnam
            recusandae illo in blanditiis consequatur doloribus! Debitis
            obcaecati temporibus molestias. Iusto consequuntur eveniet ullam
            aperiam optio, ipsum doloribus dolorem? Ipsa, perspiciatis beatae! A
            odio, ut mollitia cupiditate earum minus. Aperiam, laudantium magni
            ad officia fuga nemo eius harum similique quis necessitatibus veniam
            exercitationem, numquam quas commodi doloremque nihil earum. Ab
            quas, omnis soluta praesentium sint numquam corporis esse nostrum
            ipsam optio id rerum! Aspernatur exercitationem mollitia, sapiente
            nobis temporibus reiciendis, cupiditate eligendi, iusto dicta
            tempora quam labore odio nesciunt? Totam reiciendis quaerat sed modi
            nulla nam atque et velit molestias cum, inventore sunt a veritatis
            consequuntur. Ratione architecto eaque illum hic, ab non nisi,
            nesciunt, illo distinctio aliquam commodi! Harum laboriosam, ducimus
            maiores alias accusantium reiciendis, voluptates cum beatae voluptas
            quisquam aliquam voluptate deserunt nihil molestiae quidem molestias
            ea. Dolor nam qui eveniet architecto sequi modi ducimus provident
            reprehenderit. Unde, velit rerum enim, voluptate eligendi reiciendis
            eos sapiente exercitationem asperiores minus in neque vel corrupti
            excepturi magnam ab ducimus explicabo odit, hic recusandae dicta cum
            aliquid. Laboriosam, voluptate deleniti? Assumenda minus optio
            inventore doloremque recusandae nesciunt dolores soluta sapiente,
            eveniet fugiat natus blanditiis quas vero reprehenderit. Quam
            molestias repudiandae magni, alias molestiae esse voluptates
            repellendus? Maxime quisquam sapiente est. Dolor ad quia veritatis
            consequatur in atque facilis, dolore quo, facere, libero corrupti id
            nulla delectus voluptatibus repudiandae autem iure cupiditate rem
            numquam! Commodi, placeat perspiciatis architecto eligendi doloribus
            suscipit. Ex repellat ab necessitatibus culpa, ipsum quo mollitia
            nulla in dolore ducimus autem quos enim voluptate officiis impedit
            veniam molestias hic blanditiis unde fugit soluta dolorum. Soluta
            natus atque in. Consectetur voluptatum officiis obcaecati quisquam
            dolor necessitatibus rem magni iure dicta ipsam. Corrupti culpa
            deleniti ad praesentium fuga. Voluptatem, nemo eaque. Voluptatibus
            molestias facere, aliquam optio quae quas fuga ducimus. Sed, ullam
            neque! Tempora repudiandae quos nisi amet sunt soluta dolor
            dignissimos nihil. Dignissimos beatae et maxime iusto aliquid nemo
            recusandae omnis nulla libero harum. Minus, earum itaque! Adipisci,
            iusto. Quidem unde dolorem ad, deserunt nesciunt cupiditate fugiat
            numquam similique facilis, quo placeat? Consequuntur debitis nulla
            harum non, eos optio rerum error nemo aut quod beatae. Aspernatur
            illo hic sequi. Eaque corrupti quia numquam cum natus exercitationem
            tenetur odit non placeat, est cupiditate pariatur labore harum
            explicabo id vitae, fuga amet impedit vel esse consequatur ex?
            Reprehenderit aperiam saepe laboriosam! Maiores quibusdam nesciunt
            dolorem placeat quae excepturi quis impedit accusamus molestias nemo
            optio ipsam similique, fugit eligendi eos eum animi, totam id quam
            quod labore voluptatibus distinctio ab! Laborum, dolores. Officia
            alias, labore magnam non ipsam repudiandae, quae et necessitatibus
            perferendis dolore omnis! Quasi dolorum, minima architecto neque,
            expedita est, labore beatae maxime modi aut fuga? Blanditiis
            repellat pariatur sequi. Temporibus odit, aliquam quam harum quos
            est vero! Sapiente iusto maxime praesentium quidem odio quo sit sint
            enim ex obcaecati non in molestiae culpa magni, neque doloribus
            reprehenderit inventore blanditiis. Accusamus consectetur
            consequatur, nobis ex, distinctio autem veniam perferendis culpa
            iure, beatae nesciunt earum eum reprehenderit magni libero vitae ut
            quasi labore? Expedita iure perspiciatis deserunt saepe eos eligendi
            possimus? Quae vel commodi quos totam perspiciatis veniam corrupti a
            recusandae corporis, odio ut natus nostrum illo numquam sed
            voluptatum hic nesciunt eius? Nobis vitae ut aut, commodi
            repudiandae ullam nam! Id adipisci impedit molestias doloribus
            delectus, odio quisquam voluptates! Dicta sit vero, ex rerum at,
            minima maiores illo velit corporis explicabo excepturi nam
            perspiciatis provident animi, temporibus officiis beatae enim.
            Voluptatibus iure nisi nesciunt odit repellat velit quas temporibus
            sapiente, unde aliquam deserunt voluptatum, numquam omnis adipisci
            fugiat porro inventore doloremque nemo! Pariatur magni consequatur
            unde cupiditate quod labore facere. Et maxime praesentium inventore
            distinctio repudiandae quis impedit nam nisi doloribus, vitae
            quaerat molestiae accusamus ratione deserunt ullam asperiores illum
            porro neque ex libero! Esse quidem mollitia exercitationem sapiente
            nemo? Eum culpa voluptates neque facilis architecto ullam, cum nihil
            quo saepe ex consectetur eaque id dolore debitis. Est atque dicta
            provident assumenda voluptatem, rerum consequatur quidem veniam non
            labore temporibus! Aliquid alias, deleniti, excepturi suscipit,
            aspernatur temporibus aliquam nulla nisi dignissimos repellendus
            quia ratione quidem labore non corrupti tenetur eveniet accusamus
            enim autem repellat maxime. Laborum illum maiores consectetur.
            Neque! Odio, quibusdam illo, maiores et, nostrum sint autem
            architecto commodi totam error minima quas neque optio unde
            consequatur quis voluptates. Mollitia in recusandae, nesciunt
            explicabo quasi sequi corporis consequuntur suscipit. Eum placeat
            quos reprehenderit, nesciunt iure officia magnam ipsum blanditiis
            officiis nulla rerum nam libero deleniti? Fuga, nobis. Neque veniam
            corrupti, officiis aspernatur rem explicabo voluptatem repudiandae
            voluptate reiciendis odit. Cupiditate aliquam voluptatum quis magnam
            ipsam. Corrupti omnis aperiam repudiandae id cum quos, ad tempora,
            ullam alias sequi facilis! Dicta minus ea soluta quod hic placeat.
            Odio vel sit vero! Optio similique iste minus reprehenderit placeat
            exercitationem doloribus voluptas deserunt nisi laudantium sapiente
            animi dolore a ea ab fugit, sed autem quos amet iure quidem. Sunt
            commodi voluptas pariatur impedit! Nemo quae numquam quas pariatur
            illum! Similique obcaecati ad aliquam saepe quae rerum excepturi
            culpa quod unde provident, nisi sequi illo, numquam a temporibus
            dolorem fugiat velit debitis delectus aspernatur? Corrupti dolorem
            molestiae blanditiis repudiandae illo. Hic impedit laboriosam
            maxime, facere minima molestiae exercitationem tempora, delectus,
            repellendus iure quos saepe doloremque doloribus ex ullam! Omnis
            aspernatur explicabo doloremque voluptate eaque? Reiciendis fugit
            delectus necessitatibus veniam eligendi. Vitae tempora laudantium
            consequatur distinctio ab, incidunt earum culpa nulla unde sint
            omnis beatae excepturi cumque nam, quae saepe commodi molestias
            quas, neque a! Asperiores ea modi exercitationem unde doloribus
            quidem. Recusandae eveniet optio, voluptas non laboriosam quam alias
            maiores quod neque error nesciunt quae aliquid temporibus eligendi
            aspernatur quos explicabo omnis adipisci harum? Quasi facere amet
            vel expedita possimus. Nostrum rem blanditiis dignissimos illum
            laudantium, at cupiditate labore ipsum velit itaque, amet delectus,
            consectetur voluptatibus. Minima facilis eius officiis non hic
            labore corporis. Eius a recusandae atque praesentium amet provident
            facilis repellendus. Sapiente quia eveniet vero quos quidem,
            dignissimos cumque, dolore unde, numquam saepe rerum magnam. Illo
            accusamus velit impedit eum, necessitatibus ut! Vitae doloribus
            laboriosam porro, laudantium eos nemo tempora consequuntur
            repudiandae corporis cumque quos ut. Sapiente perferendis eveniet,
            nihil ab magnam doloribus, voluptatibus dolore blanditiis explicabo,
            totam odit illo dolor aspernatur. Optio accusantium magnam quis
            cupiditate temporibus nemo distinctio voluptatum illo necessitatibus
            praesentium. Unde fugit molestias ratione corporis libero quisquam
            esse consectetur labore enim error autem tempora ex dolores,
            blanditiis consequatur? Repudiandae similique, saepe architecto
            voluptatum eos, illum veniam omnis consequatur adipisci asperiores
            est in iure? Ipsum aspernatur molestias quidem laboriosam eveniet
            aperiam rerum optio, ipsa mollitia nisi! Harum, hic veniam.
            Similique expedita quo dolorum deleniti excepturi assumenda aliquam
            officiis fuga ad, eos, quasi beatae odio reprehenderit amet sunt
            saepe voluptatibus consequuntur id cumque ex? Beatae itaque placeat
            maxime dolore vel? Itaque quod rem blanditiis quisquam nam pariatur
            corrupti illum nesciunt dignissimos rerum nisi totam quo dolorum
            recusandae dolor aspernatur labore, earum, veniam tempore quia sit
            beatae minus! Cumque, consequatur rem. Eos quia doloribus magni
            atque, dolorum a! Veritatis deserunt nihil quasi eveniet, numquam
            rerum sint iusto nobis, facilis modi minus. Nemo quam harum modi in
            rem distinctio iste repellendus consequatur. Et tenetur esse
            incidunt dolorum ea, cupiditate debitis. Iste nemo soluta provident
            nulla culpa, atque inventore tenetur quam nostrum, labore asperiores
            explicabo quis, deserunt eveniet unde! Laborum eligendi sunt eaque.
            Officia minima alias reiciendis aliquid recusandae porro modi sit
            dolorum accusantium, incidunt inventore quaerat? Obcaecati
            asperiores, ullam non odit et modi ratione rerum ea repudiandae
            quasi itaque molestias doloremque quae? Corporis cum maiores dolore
            culpa ab voluptate quas magni natus aut recusandae minus odio
            ducimus assumenda dicta quae consectetur praesentium dolor, nisi
            ipsam ipsum veritatis sint laborum, odit consequatur? Atque.
            Impedit, officia. Minima unde saepe optio excepturi consequatur,
            incidunt cum laboriosam nulla vero distinctio animi reiciendis
            mollitia possimus error nam alias hic commodi expedita voluptas esse
            facere quae, ipsam rerum. Quos ea ullam et, nihil sed fuga beatae
            modi dolorem incidunt aliquam earum, optio nostrum magni inventore
            quis itaque vel. Magni amet repudiandae sit perferendis iusto! Nam
            vel ab ipsa. Quisquam maxime incidunt odit quia enim quam vero
            deleniti illo corrupti consectetur? Ipsa soluta architecto ullam
            recusandae, exercitationem sed vitae cupiditate! Possimus placeat
            veritatis dicta maiores architecto perferendis reiciendis
            distinctio? Magnam voluptas maxime doloribus iure modi. Ipsum
            ducimus labore cum debitis quis corporis sint eligendi nesciunt ab
            assumenda eius veritatis, repudiandae minus aut id eos harum
            pariatur voluptatem fugiat commodi? Cumque obcaecati numquam,
            impedit sunt, asperiores debitis dolores natus atque magni a
            voluptatem. Iste officiis beatae corrupti soluta itaque ipsa,
            incidunt et doloribus explicabo, aperiam voluptate provident enim
            tempora! Perspiciatis! Cupiditate, ipsam? Id deleniti cupiditate
            veritatis perferendis! Excepturi dignissimos aliquam eos illo enim?
            Aliquam iusto, reprehenderit quaerat cupiditate ipsa at quam
            voluptates culpa illo ullam quia eius, harum rem animi! Tempore modi
            a, perspiciatis est facere error doloribus nesciunt eos architecto
            magnam dolorum assumenda amet esse, rem dolores iste. Architecto
            corporis maxime quod sit tempore voluptatibus optio dignissimos aut
            deserunt. Ducimus fuga voluptatem aperiam ullam sequi iure, magnam
            nam laudantium placeat ea at, numquam quam, delectus non quos. Illum
            eligendi vero eaque facere dolores accusantium quia quo dolore ab
            nulla. Provident voluptatem cumque sequi ad quasi aliquid
            doloremque, debitis tempore molestias dicta culpa voluptates facere
            minus. Sequi harum eligendi, dolore odio velit, vel accusamus, vero
            modi beatae assumenda totam! Animi. Expedita beatae perferendis
            voluptatem pariatur delectus, perspiciatis quaerat vitae maxime
            sapiente nesciunt ratione autem hic minima asperiores, unde maiores
            alias! Iste laudantium neque veritatis quasi. Fugiat, sed! Nobis,
            quo ullam? Sequi, totam inventore assumenda voluptatum, deserunt
            harum ut accusantium nihil error doloribus cum natus odio quos,
            culpa quibusdam quidem quia accusamus quo. Voluptatum similique
            aliquam quia esse distinctio magnam sint. Rem distinctio facilis
            repellendus in eveniet aspernatur sint error dolor voluptatum, quod,
            dolores saepe alias cumque iure? Illo doloribus, tempore voluptate
            deserunt velit sunt maxime deleniti dolores repudiandae corporis
            vitae? Praesentium, voluptate est assumenda hic, temporibus eius
            minus quas similique soluta vitae reiciendis nesciunt itaque
            voluptatibus cumque a explicabo voluptas vero eos repellendus quis.
            Ratione modi nesciunt voluptates excepturi odio? Quidem inventore
            porro, voluptate ex temporibus assumenda quae illo explicabo? Magnam
            perspiciatis ipsa, nostrum libero molestias impedit atque accusamus
            enim asperiores, aliquam, odit facilis cum harum quis nam ea eos!
            Excepturi nesciunt sint ipsam consectetur officia ad voluptas iste
            voluptatibus necessitatibus modi. Vel voluptatum nulla doloremque
            iste error iusto, quam ipsum! Non aspernatur facere nam qui hic
            eaque sunt expedita. Aspernatur velit quo iure voluptatem. Sint,
            magnam! Quidem alias similique, et velit inventore dolores quae
            nostrum ut reprehenderit dignissimos mollitia, earum architecto,
            repudiandae cupiditate commodi laudantium enim ducimus facere
            aperiam! Provident corrupti, neque similique molestiae rem in vero
            optio odio error quia labore sit necessitatibus facere repellat
            consequuntur exercitationem dolor. Deleniti soluta magnam provident
            nulla obcaecati? Suscipit, ratione ad. Tempora! Fugiat, porro.
            Temporibus officiis esse corporis modi dolores eligendi praesentium
            in, cupiditate, nesciunt rem fuga eos unde ipsam necessitatibus quo?
            Autem quod deleniti impedit accusamus ipsa. Ipsa velit corrupti
            voluptas! Est ducimus, voluptate placeat voluptatem eveniet minima
            dolore, enim odit sapiente hic tempore rem vero quibusdam
            consequatur! Quis, culpa. Et molestias asperiores tenetur quasi
            vitae at, fugit sequi porro tempore. Praesentium quidem ipsa ab
            repellat sunt voluptas esse atque voluptatem nesciunt exercitationem
            numquam magnam quaerat consequuntur fugit ex temporibus cum quia, at
            dicta hic fuga dolorum commodi minus. Voluptas, cum.
          </p>
        </div>
      </div>
    </div>

    <script src="../js/script.js"></script>
  </body>
</html>
