<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social App</title>
    <link  href="../css/style.css" rel="stylesheet">
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <%- include('components/LandingNavbar') %>
  <div class="w-full h-[80vh] flex justify-center items-center">
    <div>
      <h1 class="text-4xl">Welcome to Leyn!</h1>
      <div class="flex justify-center items-center mt-3 space-x-4">
         <a href="/login" class="text-blue-500">Login</a>
         <a href="/register" class="text-blue-500">register</a>
      </div>
    </div>
  </div>
  
    
    <script src="../js/script.js"></script>
</body>
</html>
